
title: Amina's website
description: "Amina's personal website"

baseurl: "" # thetitle: Amina"s website subpath of your sitthetitle: Amina"s websitee.g. /blog
url: "https://github.com/aminacafarli787-alt/amina.github.io-site1101" # the base hostname & protocol for your site, e.g. http://example.com
markdown: kramdown
highlighter: rouge
# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap
exclude:
  - node_modules/
  - vendor/
  - Gemfile
  - Gemfile.lock


